body {
  color: #333;
  font-family: Raleway,sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #E30613;
  /* outline: 1px solid slategrey; */
}

.nav .open > a {
  background: 0 0;
  &:focus, &:hover {
    background: 0 0;
  }
  .dropdown-menu, &:focus .dropdown-menu, &:hover .dropdown-menu {
    border: 0;
  }
}

.menu-topmenu-container {
  display: inline;
}

#collassa #lingua {
  .navbar-btn {
    margin-top: 31px;
    margin-bottom: 35px;
    margin-right: 30px;
    margin-left: 15px;
  }
  .dropdown-menu {
    margin-right: 15px;
    margin-right: 25px;
    border-radius: 10px;
    margin-top: -23px;
  }
}

.cml_flags {
  padding: 0;
  text-align: center;
  img {
    margin-right: 5px;
  }
  li {
    font-size: 13px;
    text-align: center;
    margin: 0 !important;
    display: block !important;
    padding: 15px;
    a {
      padding: 0;
      text-decoration: none;
    }
    &:focus, &:hover {
      background-color: rgba(0, 0, 0, 0.11);
    }
  }
}

p {
  text-rendering: optimizeLegibility;
}

br {
  display: block;
  content: " ";
  margin: 10px 0;
}

@font-face {
  font-family: world of water;
  src: url(font/world_of_water.ttf);
}


.img-testata {
  width: 100%;
}

.made {
  padding: 10px;
  transform: translateX(0);
  text-align: center;
  b {
    font-weight: 300;
    letter-spacing: 1.65px;
    position: relative;
    text-transform: uppercase;
    top: -11px;
    font-size: 11.01px;
    margin-left: -3px;
  }
}

.bandiera span {
  margin-left: -4px;
}

.langHide {
  opacity: 0 !important;
  transition: .5s;
}

.langSel {
  opacity: 1;
  transition: .5s;
  position: fixed;
  top: 120px;
  left: 15px;
  cursor: pointer;
  z-index: 1;
  .selector {
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
    padding: 15px;
    display: block;
    transition: .5s;
    &:active, &:focus, &:hover {
      background: #000;
    }
  }
  .cml_flags, ul {
    margin: 0;
    padding: 0;
    display: none;
  }
  .cml_flags li, ul li {
    display: block;
    margin: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: .5s;
    padding: 15px;
    color: #FFF;
  }
  .cml_flags li {
    &:active, &:focus, &:hover {
      background: #000;
    }
  }
  ul li {
    &:active, &:focus, &:hover {
      background: #000;
    }
  }
  .cml_flags li a, ul li a {
    text-decoration: none;
    color: #FFF;
  }
  .cml_flags li a {
    &:focus, &:hover {
      color: inherit;
    }
  }
  ul li a {
    &:focus, &:hover {
      color: inherit;
    }
  }
  .cml_flags img, ul img {
    padding-right: 5px;
  }
}

.navbar {
  border-bottom: 0;
}

.particular:before {
  content: " ";
  display: block;
  height: 2em;
  width: 1px;
  position: absolute;
  background: #000;
  left: 0;
  margin-top: 35px;
}

.navbar-toggle .icon-bar {
  background: #2c2c2c;
}

.navbar-nav li > a {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
}

.nav li > a {
  &:focus, &:hover, &:target {
    background: 0 0;
    color: #2a4b9b;
    transition: 1s;
  }
}

.filmato + .daBox {
  top: 100vh;
}

.daBox {
  background: 0 0;
  position: relative;
  transition: 1.5s;
  z-index: 1;
}

.giuseppe {
  background: #FFF;
  background: rgba(255, 255, 255, 0.6);
}

.filmato {
  min-width: 100%;
  height: 100%;
  position: fixed;
  background: #000;
  background-position: center center;
  background-repeat: no-repeat;
  z-index:-1;
  b {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1
  }
  .endCover {
    background: url(../img/seabag-intro.jpg);
    background-position: center center;
    background-size: cover;
    transition: 1s;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: relative;
    /*
    &:before {
      content: "\f01e";
      font-family: "fontawesome";
      font-size: 2em;
      right: 15px;
      bottom: 15px;
      position: absolute;
      color: #FFF;
      text-shadow: 1px 1px 1px #484848;
      transition: 0.5s;
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    &:hover {
      &:before {
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      transition: 0.5s;
      }
    }
    */
  }
  #YT {
    width: 189.99vh;
    height: 107vh;
    min-width: 100vw;
    min-height: 56.3vw;
    border: none;
    position: absolute;
    left: 0;
    top: -1px;
    margin: 0px;
  }
}

.video {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  z-index: 0;
}

.navbar-header img {
  position: absolute;
  top: 6px;
  width: 160px;
}

.mobile {
  display: none;
}

.fakenav {
  background-color: #FFF;
  height: 100px;
  width: 100%;
  position: fixed;
  opacity: 0;
  top: 0;
  box-shadow: #4f4f4f 1px 1px 15px;
  z-index: 99;
}

nav.navbar {
  z-index: 100;
}

.page-header {
  border-bottom: solid 1px #4183d7;
}

.bandiera {
  text-align: center;
}

.divisore-verde {
  width: 33px;
  border-top: solid 4px green;
  display: inline-block;
  margin-left: 0;
}

.divisore-bianco {
  width: 33px;
  border-top: solid 4px #FFF;
  display: inline-block;
}

.divisore-rosso {
  width: 33px;
  border-top: solid 4px red;
  display: inline-block;
}

.testata {
  padding-top: 25px;
  padding-bottom: 25px;
}
.seabag-slide {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

#sliderTestata {
    .item {
        position: relative;
        z-index: 1;
        height: 100%;
    }
    .carousel-indicators li {
        background-color: #2A4B9B;
        border: 1px solid #2A4B9B;
    }
    .carousel-indicators .active {
        width: 16px;
        height: 16px;
        background-color: #E30613;
        border-color: #E30613;
    }
}

.seabag-slide-1 {
    background: url(../img/seabag-intro.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
}
.seabag-slide-2 {
    background: url('../img/_MG_0151mdfct.jpg');
    background-position: left top;
    background-size: cover;
}

.seabag-slide-3 {
    background: url('../img/FOTO LORENZO PH GATTO HD (31mod).jpg');
    background-position: right center;
    background-size: cover;
}

.quadro-testata {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100vh;
    max-height: 100%;
    overflow: hidden;
  i {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    transition: 1.5s;
    &:hover {
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
    transition: 0.5s;
    }
  }
  #triggerino {
    position: absolute;
    bottom: 15px;
    right: 0;
    padding-right: 20px;
    background: rgba(0,0,0,.3);
    font-size: 3em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #E30613;
    &:after {
      content: "";
      transition: .5s;
      position: relative;
      width: 0;
      overflow: hidden;
      display: inline-block;
      font-size: 20px;
      white-space: nowrap;
      padding-left: 10px;
    }
    &:hover {
      &:after {
        width: 120px;
        content: "Play Video!";
        transition: .5s;
      }
    }
  }
}

.customize-support {
  margin-top: -33px;
  #wpadminbar {
    display: none;
  }
}

header h1 {
  text-transform: uppercase;
  padding-top: 10px;
  font-size: 3em;
  padding-bottom: 5px;
  color: #000;
}

span.char1 {
  font-size: 1.5em;
}

header h5 {
  font-weight: 300;
}

#brand {
  text-align: left;
  margin-top: 50px;
  margin-bottom: 50px;
  h3 {
    color: #428bca;
    border-bottom: 2px solid #CDE;
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 5px;
    text-align: center;
    font-weight: 400;
  }
  p {
    color: #888;
    font-size: 12px;
  }
  figure {
    width: 100%;
    text-align: center;
  }
  img {
    max-width: 100%;
    height: 150px;
    width: auto;
  }
}

.hideP::-webkit-scrollbar-track {
  background-color: #FFF;
  border: 0;
}

#seabagInfo {
  .panel-heading {
    padding: 0;
  }
  .panel-body {
    position: relative;
    height: 700px;
    padding-top: 130px;
    background-color: rgba(255, 255, 255, 0.65);
    animation: onesto 2s ease-out;
    -webkit-animation: onesto 2s ease-out;
    -o-animation: onesto 2s ease-out;
    -moz-animation: onesto 2s ease-out;
    font-size: 1.15em;
  }
  .panel-default {
    border: 0;
    position: relative;
  }
  .panel-group {
    .panel + .panel {
      margin-top: 0;
      overflow: hidden;
      border-radius: 0;
    }
    .panel-heading + .panel-collapse > .list-group {
      border: 0;
    }
  }
}

.panel-group .panel-heading + .panel-collapse > .panel-body {
  border: 0;
}

@-webkit-keyframes onesto {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}


@keyframes onesto {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}


#seabagInfo {
  .panel-collapse {
    position: absolute;
    top: 0;
    width: 365px;
    max-width: 100%;
    border-top: none !important;
  }
  a {
    border-top: 1px solid #dad9d9;
    height: 400px;
    display: block;
    color: #333;
    text-align: center;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    transition: 1s;
    &:focus .bgCover, &:hover .bgCover {
      opacity: 1;
    }
  }
  .collapsed {
    height: 160px;
  }
  .bgCover {
    width: 100%;
    opacity: 0;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    background-position: bottom center !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
  }
  a {
    span {
      display: block;
      line-height: 60px;
      color: #333;
      position: relative;
      font-size: 2em;
      margin: 50px 0 0;
      font-weight: 300;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-transition: .2s ease-out;
      transition: .2s ease-out;
    }
    &:focus span, &:hover span {
      color: #fff;
      margin: 40px 0 0;
    }
    &[aria-expanded=true] {
      span {
        color: #FFF;
        margin: 40px 0 0;
      }
      .bgCover {
        opacity: 1;
      }
    }
  }
  .panel-group {
    margin: 0;
  }
}

.cerchiogrande, .cerchiopiccolo {
  border-radius: 50%;
}

.piu {
  color: #FFF;
  display: block;
  background-color: #e30613;
  position: absolute;
  z-index: 1;
  height: 100px;
  width: 100px;
  vertical-align: bottom;
  -webkit-transform: scale(1.2) rotate(-45deg) translate(0);
  transform: scale(1.2) rotate(-45deg) translate(0);
  -moz-transform: scale(1.2) rotate(-45deg) translate(0);
  top: -50px;
  text-align: center;
  left: -50px;
  padding-top: 75px;
}

@-webkit-keyframes teloparo {
  0% {
    opacity: 20;
  }

  50% {
    opacity: 10;
  }

  100% {
    opacity: 0;
  }
}


@keyframes teloparo {
  0% {
    opacity: 20;
  }

  50% {
    opacity: 10;
  }

  100% {
    opacity: 0;
  }
}


.tp {
  background: #CCC;
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 100%;
  text-align: center;
  opacity: 0;
  z-index: 1;
  animation: teloparo 7s ease-in-out;
  -moz-animation: teloparo 7s ease-in-out;
  -o-animation: teloparo 7s ease-in-out;
  -webkit-animation: teloparo 7s ease-in-out;
  display: block;
  .tpbg {
    display: block;
    background: #CCC;
    position: absolute;
    height: 800px;
    width: 100%;
    top: 42px;
  }
  .cerchiopiccolo {
    display: inline-block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #e30613;
    position: relative;
    top: -31px;
    z-index: 1;
    animation: cerchietto 4s ease-in-out;
    -webkit-animation: cerchietto 4s ease-in-out;
    -moz-animation: cerchietto 4s ease-in-out;
    -o-animation: cerchietto 4s ease-in-out;
    left: 30px;
  }
  .cerchiogrande {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #304999;
    position: relative;
    animation: cerchione 4s ease-in-out;
    -webkit-animation: cerchione 4s ease-in-out;
    -o-animation: cerchione 4s ease-in-out;
    -moz-animation: cerchione 4s ease-in-out;
    right: 35px;
  }
}

@-webkit-keyframes cerchietto {
  from {
    opacity: 0;
    left: -60px;
  }

  to {
    opacity: 1;
    left: 30px;
  }
}


@keyframes cerchietto {
  from {
    opacity: 0;
    left: -60px;
  }

  to {
    opacity: 1;
    left: 30px;
  }
}


@-webkit-keyframes cerchione {
  from {
    opacity: 0;
    right: -65px;
  }

  to {
    opacity: 1;
    right: 35px;
  }
}


@keyframes cerchione {
  from {
    opacity: 0;
    right: -65px;
  }

  to {
    opacity: 1;
    right: 35px;
  }
}


.tplogo {
  position: relative;
  height: 65px;
  text-align: center;
  top: -15px;
  z-index: 1;
  .tpbg {
    position: absolute;
    height: 65px;
    width: 100px;
    display: inline;
    left: 41%;
    top: 6px;
  }
  .cerchiopiccolo {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #e30613;
    position: relative;
    top: -18px;
    z-index: 1;
    left: 7px;
  }
  .cerchiogrande {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #304999;
    position: relative;
    right: 35px;
  }
}

#media {
  background: #FFF;
  border-top: solid 1px #dad9d9;
  border-bottom: solid 1px #FFF;
  position: relative;
  cursor: pointer;
  h2 {
    font-size: 2em;
    padding-top: 40px;
    padding-bottom: 40px;
    text-transform: uppercase;
  }
}

.album figure {
  width: 25%;
  height: 260px;
  float: left;
  overflow: hidden;
  position: relative;
  background-color: #CCC;
  img {
    width: 130%;
    min-height: 100%;
    position: relative;
    right: 25%;
  }
}

figure .lente {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #FFF;
  top: 0;
  opacity: 0;
  .glyphicon {
    display: block;
    margin: auto;
    font-size: 3em;
    text-align: center;
    top: 40%;
    transition: .9s;
  }
  &:hover {
    opacity: .6;
    transition: .9s;
    .glyphicon {
      top: 50%;
    }
  }
}

.mosaico {
  position: relative;
  background: #FFF;
  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
  img {
    width: 100%;
    height: auto;
    min-height: 100%;
  }
}

.riga1 {
  height: auto;
  overflow: hidden;
}

.riga2 {
  overflow: hidden;
}

.riga1 > *, .riga2 > * {
  float: left;
  height: 24vw;
  position: relative;
}

.riga1 {
  .photo1 {
    width: 25%;
    border-right: solid 1px #FFF;
  }
  .photo2 {
    width: 25%;
  }
  .video1 {
    width: 50%;
    border-right: solid 1px #FFF;
  }
}

.riga2 {
  height: auto;
  border-top: solid 1px #FFF;
  .photo1 {
    width: 30%;
    border-right: solid 1px #FFF;
  }
  .photo2 {
    width: 15%;
    border-right: solid 1px #FFF;
  }
  .video1 {
    width: 25%;
    border-right: solid 1px #FFF;
  }
  .photo3 {
    width: 30%;
  }
}

.videoPlayer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.28);
}

div[class^=video] .fa-play-circle-o {
  color: #FFF;
  position: absolute;
  top: 45%;
  text-align: center;
  width: 100%;
}

#cosae {
  font-weight: 300;
  h3 {
    font-size: 2em;
    text-align: center;
    color: #428bca;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
    &:after {
      display: block;
      content: "";
      border: 1px solid #CDE;
      margin: auto;
      width: 300px;
      max-width: 100%;
    }
  }
  p {
    margin-top: 10px;
  }
  img {
    width: 150px;
    max-width: 100%;
  }
}

.theSpacing > div {
  padding-top: 20px;
  padding-bottom: 20px;
}

#mission {
  background: #f4d03f;
  padding-top: 30px;
  padding-bottom: 30px;
}

.bigphoto {
  max-height: 400px;
  width: 100%;
  overflow: hidden;
  img {
    width: 100%;
  }
}

#custom {
  h4 {
    border-bottom: 2px solid #CDE;
    color: #428bca;
  }
  p {
    color: #888;
    font-size: 12px;
  }
  img {
    position: relative;
    right: 30px;
    -webkit-transition: all 2.5s ease-out;
  }
  .floatingimg img {
    right: 500px;
    -webkit-transition: all 2.5s ease-out;
  }
}

#prodotti h3 {
  font-size: 2em;
}

#aboutus {
  border-top: 1px solid #dad9d9;
  background: #FFF;
  h3 {
    text-transform: uppercase;
    font-size: 2em;
    padding-top: 40px;
  }
  blockquote {
    font-size: 1.15em;
  }
  img {
    width: 100%;
    height: auto !important;
  }
}

div[class^=immagini-sparate] figure {
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
  max-width: 95%;
  width: 200px;
}

.immagini-sparate-5 {
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#awards {
  background: #FFF;
  color: #5f7fe5;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-awards {
  color: #FFF;
  background-color: #fd2e3a;
  border-color: #fd2e3a;
  transition: .5s;
  font-weight: 600;
  text-transform: uppercase;
  &:hover {
    background: #e30613;
    transition: .5s;
    color: #FFF;
  }
}

@keyframes awardTransition {
  from {
    right: -450px;
  }

  to {
    right: 0;
  }
}


#pride {
  background: #f7f7f7;
  border-top: solid 1px #dad9d9;
  aside {
    padding-top: 20px;
  }
}

.thePrize {
  padding: 0;
  img {
    width: 100%;
  }
}

.thePrizeDescr {
  background: #f7f7f7;
  padding-top: 20px;
  text-align: center;
  h3 {
    font-weight: 600;
  }
}

.wrap {
  padding-bottom: 7.5px;
  padding-top: 7.5px;
}

div[class^=immagini-sparate] img {
  width: 100%;
  height: 100%;
}

#telopareo {
  background: #e8d395;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  text-align: center;
  h3 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 25px;
  }
}

.plus {
  border-top: 1px solid #dad9d9;
  font-size: 7em;
  color: #e30613;
  height: 160px;
}

.parallax-window {
  min-height: 400px;
  background: 0 0;
}

.evidenzia {
  background: #999;
}

.corporate {
  margin-top: 60px;
  margin-bottom: 60px;
  figure {
    overflow: hidden;
    max-height: 350px;
  }
  > div {
    padding-top: 10px;
  }
}

.corporate-content {
  float: left;
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;
}

.organigramma {
  position: relative;
  overflow: hidden;
  min-height: 900px;
  div {
    &:nth-child(1) {
      width: 250px !important;
      position: absolute;
      top: 0;
      height: 250px;
      right: 40%;
      background-color: red;
      p {
        position: relative;
        left: -255px;
        text-align: right;
        top: -150px;
      }
    }
    &[class^=wp-caption] {
      border-radius: 50%;
    }
    &:nth-child(2) {
      width: 190px !important;
      position: absolute;
      top: 240px;
      height: 190px;
      right: 10%;
      background-color: red;
      p {
        position: relative;
        right: 45px;
        top: -60px;
      }
    }
    &:nth-child(3) {
      width: 190px !important;
      position: absolute;
      top: 36000px;
      height: 190px;
      right: 10%;
      background-color: red;
      p {
        position: relative;
        right: 45px;
        top: -60px;
      }
    }
    &:nth-child(4) {
      width: 220px !important;
      position: absolute;
      top: 360px;
      height: 220px;
      right: 70%;
      background-color: red;
      p {
        position: relative;
        left: 230px;
        top: -170px;
        text-align: left;
      }
    }
    &:nth-child(5) {
      width: 190px !important;
      position: absolute;
      top: 590px;
      height: 190px;
      right: 40%;
      background-color: red;
      p {
        position: relative;
        right: 45px;
        top: -60px;
      }
    }
    &:nth-child(6) {
      width: 190px !important;
      position: absolute;
      top: 690px;
      height: 190px;
      right: 20%;
      background-color: red;
      p {
        position: relative;
        right: 45px;
        top: -60px;
      }
    }
    &:nth-child(7) {
      width: 190px !important;
      position: absolute;
      top: 690px;
      height: 190px;
      right: 80%;
      background-color: red;
      p {
        position: relative;
        right: 45px;
        top: -60px;
      }
    }
  }
  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
  }
}

footer {
  background: #4e4e4e;
  color: #FFF;
  border-top: solid 1px #333;
  a {
    color: #c7c7c7;
    &:active, &:focus, &:hover {
      color: #FFF;
      text-decoration: none;
      transition: .5s;
    }
  }
  .current_page_item {
    color: #FFF;
    text-decoration: underline;
  }
  ul li {
    list-style: none;
    display: inline-block;
  }
}

.servizi {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  padding-top: 45px;
  padding-bottom: 20px;
  background: #333;
}

.menuservizi ul li {
  margin-left: 7px;
  font-size: 14px;
  font-weight: 600;
}

#menu-eshop, #menu-social {
  padding-left: 0;
}

.translate ul {
  padding-left: 0;
  li {
    font-size: 10px;
  }
}

.modal-content {
  margin-top: 120px;
}

.list-seabagInfo {
  margin-top: 50px;
}

.seabagInfo-wrapper {
  -moz-transition: width .4s;
  -o-transition: width .4s;
  -webkit-transition: width .4s;
  transition: width .4s;
}

.seabagInfo {
  position: relative;
  padding-left: 180px;
  padding-right: 75px;
  height: 150px;
  margin-bottom: 30px;
  background-color: #FFF;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
  cursor: pointer;
  .img-wrapper {
    position: absolute;
    top: -10px;
    left: -10px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    background-color: #CDE;
    padding: 10px;
    z-index: 1000;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
    img {
      -moz-border-radius: 100px;
      -webkit-border-radius: 100px;
      border-radius: 100px;
      -moz-transition: all .2s;
      -o-transition: all .2s;
      -webkit-transition: all .2s;
      transition: all .2s;
      width: 150px;
      height: auto;
      background: #FFF;
    }
  }
  h3 {
    height: 75px;
    line-height: 75px;
    font-size: 24px;
    border-bottom: 2px solid #CDE;
    color: #428bca;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  p {
    color: #888;
  }
  a {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    line-height: 150px;
    text-align: center;
    width: 100%;
    background-color: #FFF;
    font-size: 39px;
    opacity: 0;
    color: #428bca !important;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    -webkit-transition: all .4s;
    transition: all .4s;
    text-decoration: none !important;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    border-radius: 150px;
    text-shadow: 0 1px 1px #AAA;
  }
  &:hover {
    .img-wrapper {
      padding: 5px;
      -moz-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
      -webkit-transform: rotate(5deg);
      transform: rotate(5deg);
      img {
        width: 160px;
      }
    }
    a {
      opacity: 1;
    }
  }
}

.bloc .seabagInfo {
  padding: 10px;
  height: 225px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-top: 75px;
  .img-wrapper {
    position: relative;
    top: -85px;
    width: 170px;
    left: inherit;
    margin: auto;
    margin-bottom: -100px;
  }
  h3 {
    font-size: 14px;
    height: 37.5px;
    line-height: 37.5px;
  }
  p {
    font-size: 12px;
  }
  a {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    line-height: 255px;
  }
}

#azienda {
  margin-top: 30px;
}

.menu-social-container {
  text-align: center;
  li {
    display: inline-block;
    padding-left: 4.5px;
    padding-right: 2px;
    font-size: 1.2em;
    text-rendering: optimizeLegibility;
    &:nth-child(1) {
      padding-left: 0;
    }
    &:nth-last-child(1) {
      padding-right: 0;
    }
  }
}

.modal-backdrop {
  background-color: #CDE;
  z-index: 0;
}

.seriusadminbar {
  position: fixed;
  bottom: 0;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 2em;
  background-color: rgba(14, 14, 14, 0.22);
  border-top-right-radius: 15px;
}

.spot {
  background: #CDE;
  padding-top: 50px;
  padding-bottom: 50px;
  h4 {
    font-weight: 700;
  }
  p {
    font-size: 12px;
  }
  blockquote {
    font-size: 1.15em;
  }
}

footer .btn-primary {
  background: #ff312c;
  border-color: #ff3733;
  &:active, &:focus, &:hover {
    background: #f4d03f !important;
    border-color: #ffcd02 !important;
  }
}

#cf {
  padding-top: 40px;
  padding-bottom: 40px;
  background: url(map.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  .input-group {
    width: 100%;
  }
  input {
    &[type=email], &[type=text] {
      background: #c7c7c7;
      padding: 10px;
      font-size: 14px;
      height: auto;
    }
  }
  textarea {
    background: #c7c7c7;
    padding: 20px;
    font-size: 14px;
    height: auto;
    min-height: 258px;
  }
  label {
    font-weight: 300;
    margin-top: 5px;
  }
}

.btn-submit-sea {
  border: 0;
  background: #fd2e3a;
  text-transform: uppercase;
  color: #FFF;
  font-weight: 600;
  margin-top: 15px;
  transition: .5s ease-in-out;
  letter-spacing: 2px;
  padding: 15px 25px;
}

#cf {
  input {
    &:-moz-placeholder, &:-ms-input-placeholder, &::-moz-placeholder, &::-webkit-input-placeholder {
      font-weight: 600;
      letter-spacing: 1.5px;
    }
  }
  textarea {
    &:-moz-placeholder, &:-ms-input-placeholder, &::-moz-placeholder, &::-webkit-input-placeholder {
      font-weight: 600;
      letter-spacing: 1.5px;
    }
  }
}

.btn-submit-sea {
  &:focus, &:hover {
    background: #e30613;
    color: #FFF;
    transition: .5s ease-in-out;
  }
}

.newsletter {
  padding-top: 20px;
}

.social a {
  width: 40px;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  border-radius: 50%;
  background: #c7c7c7;
  color: #333;
  margin-bottom: 5px;
  overflow: hidden;
  &:hover {
    color: #286090;
  }
    &[href*=twitter]:hover {
        background-color: #1DA1F2;
        color: #FFF;
    }
  &[href*=facebook]:hover {
    background-color: #3b5998;
    color: #FFF;
  }
  &[href*=instagram]:hover {
    background-color: #3f729b;
    color: #FFF;
  }
  &[href*=google]:hover {
    background-color: #dd4b39;
    color: #FFF;
  }
  &[href*=pinterest]:hover {
    background-color: #FFF;
    color: #d01d15;
  }
  &[href*=youtube]:hover {
    background-color: #c71c1f;
    color: #FFF;
  }
}

#sponsor {
  background: #f7f7f7;
  blockquote {
    border: 0;
  }
  cite {
    font-style: normal;
  }
  h3 {
    text-transform: uppercase;
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0;
  }
  figure {
    padding: 20px;
    img {
      border-radius: 50%;
      overflow: hidden;
      width: 300px;
      height: auto;
      border: solid 2px #FFF;
    }
  }
  #spaceland {
    width: 250px;
    height: auto;
  }
  img {
    max-width: 100%;
    -webkit-filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,&lt;svgxmlns='http://www.w3.org/2000/svg'&gt;&lt;filterid='grayscale'&gt;&lt;feColorMatrixtype='matrix'values='0.33330.33330.3333000.33330.33330.3333000.33330.33330.33330000010'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    filter: gray;
    transition: .5s;
  }
  &:hover img {
    -webkit-filter: grayscale(0);
    filter: url("data:image/svg+xml;utf8,&lt;svgxmlns='http://www.w3.org/2000/svg'&gt;&lt;filterid='grayscale'&gt;&lt;feColorMatrixtype='matrix'values='10000,01000,00100,00010'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    transition: .5s;
  }
}

#albumDisorder {
  -webkit-column-count: 3;
  column-count: 3;
  -webkit-column-width: 400px;
  -moz-column-width: 400px;
  column-width: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  img {
    width: 100%;
    overflow: hidden;
    &:hover {
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      transition: all .5s ease;
    }
  }
}

.photos {
    cursor: pointer;
    &:after {
        content: "";
        font-family: "fontawesome";
        transition: 1s;
        opacity: 0;
        background: url('../img/lente.png') rgba(0, 0, 0, 0.5);
        background-image: url('../img/lente.svg');
        background-position: top center;
        background-size: 35%;
    }

    &:hover {
        &:after {
            transition: 1s;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            opacity: 1;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }
}
.photosDisorder {
  box-sizing: border-box;
  text-align: center;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  margin-bottom: 13px;
}

#brandname {
  background: #6c7a89;
  position: relative;
  clear: both;
  h2 {
    color: #FFF;
    font-weight: 300;
    padding-top: 50px;
    padding-bottom: 50px;
    text-transform: uppercase;
  }
}

#staff h2 {
  color: #FFF;
  font-weight: 300;
  padding-top: 50px;
  padding-bottom: 50px;
  text-transform: uppercase;
}

.grey {
  height: 100%;
  padding-top: 40px;
  color: #717171;
  font-size: 1.2em;
}

.wp-image-298 {
  display: block;
  margin-left: 37px;
  position: relative;
  bottom: 50px;
}

.innovation {
  padding-top: 2vw;
}

.fronte {
  padding-top: 40px;
  img {
    padding: 15px;
    box-shadow: 0 -4px 9px #ccc,0 4px 9px #ccc;
    margin-bottom: 10px;
    background: #fff url(../img/millimetrata.jpg) repeat scroll 0 0;
  }
}

.brandDescr {
  margin-top: 20px;
  font-size: 1.2em;
  color: #717171;
}

.description {
  position: relative;
  background-color: #f7f7f7;
  padding-top: 20px;
  padding-bottom: 20px;
  clear: both;
  &:before {
    content: "";
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-right-width: 28px;
    border-left-width: 28px;
    border-top-width: 22px;
    border-bottom-width: 0;
    z-index: 1;
  }
  img {
    max-width: 100%;
  }
}

#brandname ~ .description:before {
  border-top-color: #6c7a89;
}

#staff {
  background: #5da3ef;
  ~ .description:before {
    border-top-color: #5da3ef;
  }

}

.staffImg {
  margin-top: 30px;
  .caption {
    text-align: center;
  }
  p {
    color: #717171;
  }
  img {
    position: relative;
    height: auto;
    .lazyload {
        background: url("../img/lazyload.png");
        transition: 1s;
    }
  }
  .imgWrapper {
    position: relative;
    z-index: 1;
    background: #FFF;
    border-radius: 50%;
    overflow: hidden;
    margin: 15px;
    img {
      opacity: .7;
      transition: .6s ease-in-out;
      border-radius: 50%;
    }
  }
  .thumbnail:hover img {
    opacity: 1;
    transition: .6s ease-in-out;
  }
}

.album-fabbrica {
    display: block;
    margin-bottom: 25px;
    position: relative;
    cursor: pointer;
    &:after {
        content: "";
        font-family: "fontawesome";
        transition: 1s;
        opacity: 0;
        background: url('../img/lente.png') rgba(0, 0, 0, 0.5);
        background-image: url('../img/lente.svg');
        background-position: top center;
        background-size: 35%;
    }

    &:hover {
        &:after {
            transition: 1s;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            opacity: 1;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }
    img {
        height: auto;
    }
}
#process {
  background: #FFF;
  border-top: solid 1px #e9e9e9;
  min-height: 100px;
  margin-bottom: -20px;
  margin-top: 20px;
}

.processStep {
  padding-top: 25px;
  padding-bottom: 25px;
  color: #717171;
  .embed-responsive {
    margin-bottom: 25px;
  }
  p {
    font-size: 1.2em;
  }
}

.processo-produttivo {
  background: #6c7a89;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #FFF;
  text-align: center;
  margin-bottom: 15px;
}

.prize img {
  max-width: 260px;
  display: block;
  margin: auto;
}

.img-process a {
  display: block;
  padding: 15px 0;
  img {
    box-shadow: 1px 2px 3px #ccc;
  }
}

#retail {
  background: #f78848;
  h2 {
    font-weight: 300;
    padding-top: 50px;
    padding-bottom: 50px;
    text-transform: uppercase;
    color: #FFF;
  }
  ~ .description {
    padding-top: 40px;
    &:before {
      border-top-color: #f78848;
    }
  }
}

.retailer {
  background: #d4d4d4;
  transition: .5s;
  min-height: 250px;
  &:hover {
    background: #afafaf;
    transition: .5s;
  }
  #formUs, .formNotUs {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
}

.nation {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 110px;
  font-size: 3em;
  letter-spacing: 1px;
}

div[class*=tableRetail] {
  text-align: center;
  margin: 15px 0;
  h4 {
    text-transform: uppercase;
    padding: 15px;
  }
}

.tableRetail-1 span {
  &:nth-child(1) {
    color: red;
  }
  &:nth-child(2) {
    color: #FFF;
  }
  &:nth-child(3) {
    color: #00f;
  }
}

.tableRetail-2 span {
  &:nth-child(1) {
    color: #00f;
  }
  &:nth-child(2) {
    color: #FFF;
  }
  &:nth-child(3) {
    color: red;
  }
}

.tableRetail-3 span {
  &:nth-child(1) {
    color: #027d12;
  }
  &:nth-child(2) {
    color: #FFF;
  }
  &:nth-child(3) {
    color: red;
  }
}

.tableRetail-4 span {
  &:nth-child(1) {
    color: #c60c30;
  }
  &:nth-child(2) {
    color: #FFF;
  }
  &:nth-child(3) {
    color: #c60c30;
  }
}

.headerCompany {
    width: 100%;
    height: auto;
    background: #CCC;
}

.schiarisci {
  display: block;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #FFF;
  position: fixed;
  opacity: .5;
  top: 0;
}

div.wpcf7 img.ajax-loader {
  position: absolute;
  top: 15px;
}

.firstBg {
  background: #4e4e4e;
  h2 {
    color: #f7f7f7;
  }
}

#pressExtended {
  position: fixed;
  width: 450px;
  max-width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background: #FFF;
  z-index: 101;
  overflow-y: auto;
  animation: awardTransition 1s ease-out;
  border-left: solid 1px #d8d8d8;
  box-sizing: content-box;
  text-align: center;
  #notUsa, #usa {
    text-align: left;
  }
  #notUsa label, #usa label {
    margin-bottom: 0;
    margin-top: 10px;
  }
  .ajax-loader {
    width: auto;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .theTitle {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 3px;
    text-transform: uppercase;
  }
  .container {
    position: relative;
    max-width: 100%;
  }
  .pressOverlay {
    width: 100%;
    background: #FFF;
    height: 80px;
    position: absolute;
    .cerchioX {
      position: absolute;
      top: 20px;
      right: 15px;
      background: #fd2e3a;
      width: 40px;
      height: 40px;
      display: block;
      text-align: center;
      font-size: 24px;
      color: #FFF;
      border-radius: 50%;
      cursor: pointer;
      z-index: 1;
      &:focus, &:hover {
        background: #e30613;
      }
      span {
        line-height: 38px;
      }
    }
  }
}

.more {
  margin-top: 20px;
  padding-bottom: 20px;
  background: #FFF;
}

a[rel=alternate] {
  padding: 0 !important;
}

.shopAvailable {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  i {
    margin: 15px;
    padding: 10px 15px;
    color: #333;
    font-size: 2em;
  }
}

.resellQuote {
  font-size: 1.9em;
  padding-top: 45px;
  color: #797979;
  font-style: normal;
  text-align: center;
}

.resellDescr {
  font-size: 1.2em;
  color: #717171;
}

@keyframes openTab {
  from {
    height: 0;
  }

  to {
    height: 100%;
  }
}


.openedPress, .openedPrizes {
  position: relative;
}

#copertine .openTab, .openedPrizes {
  box-shadow: 0 -10px 10px -10px inset,0 10px 10px -10px inset;
  overflow: hidden;
  background: #c7c7c7;
}

#copertine .openTab img, .openedPrizes img {
  max-width: 100%;
  height: auto;
}

#trofei {
    transition: 1s;
    display: block;
    height: 0px;
    overflow: hidden;
}
.openTab {
    img {
        cursor: pointer;
    }
}

.rotateItem {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
#copertine {
  position: relative;
  display: none;
  img {
    position: relative;
    top: 100px;
    z-index: 0;
    transition: .5s;
    &:hover {
      top: 60px;
      transition: .5s;
    }
  }
  .openTab {
    box-shadow: 0 10px 10px -10px inset;
      img {
          cursor: pointer;
      }
  }
  .oddTab {
    box-shadow: none;
    box-shadow: 0 10px 10px 5px,0 -10px 10px -10px inset;
    background-color: #adadad;
    .container {
      padding-top: 20px;
    }
  }
  .container-col {
    position: absolute;
    bottom: 0;
  }
}

.hiddenAlbum {
  display: none;
}

#partitaIva {
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 10px 7px -9px #000 inset;
}

#back-top {
  display: none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background: #fd2e3a;
  background: rgba(253, 46, 58, 0.65);
  position: fixed;
  right: 15px;
  bottom: 5px;
  line-height: 45px;
  font-size: 2em;
  text-align: center;
  cursor: pointer;
  z-index: 400;
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
  i {
    color: #FFF;
  }
  &:hover {
    background: #e30613;
    background: rgba(227, 6, 19, 0.65);
    color: #FFF;
  }
}

@media screen and (max-width: 767px) {
  .particular {
    border-top: solid 1px #000;
    &:before {
      content: none;
    }
  }
  #collassa {
    background: #FFF;
    width: 100%;
  }
  .nav > li > a {
    &:focus, &:hover {
      background: #FFF;
    }
  }
  .navbar-collapse {
    margin-top: 0;
    border-top: 0;
  }
  #menu-azienda {
    margin-top: 0;
  }
  .quadro-testata {
    height: 77vh;
    max-height: 100%;
  }
  .langSel {
    top: 75px;
  }
  .fakenav {
    height: 50px;
    opacity: 4 !important;
  }
  .navbar-nav > li > a {
    padding-bottom: 0;
    background: #FFF;
    padding-top: 20px;
  }
  .navbar-brand {
    display: none;
  }
  .navbar-nav > li > a:nth-last-child(1) {
    padding-bottom: 20px;
  }
  .mobile {
    display: block;
    padding-top: 7px;
    text-align: right;
    cursor: pointer;
    .fa-bars {
      border: solid 1px;
      border-radius: 5px;
      padding: 3px 6px;
    }
  }
  header h1 {
    font-size: 2.3em;
  }
  #seabagInfo a {
    height: 500px;
  }
  .album figure {
    width: 100%;
    height: 260px;
    float: left;
    overflow: hidden;
    position: relative;
    img {
      right: 0;
      width: 100%;
    }
  }
  #copertine {
    position: relative;
    img {
      position: relative;
      top: 0;
      z-index: 0;
      transition: .5s;
      margin-top: 15px;
      &:hover {
        top: 0;
        filter: url("data:image/svg+xml;utf8,&lt;svgxmlns='http://www.w3.org/2000/svg'&gt;&lt;filterid='grayscale'&gt;&lt;feColorMatrixtype='matrix'values='0.33330.33330.3333000.33330.33330.3333000.33330.33330.33330000010'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
        filter: gray;
        -webkit-filter: grayscale(100%);
      }
    }
  }
}

.premi {
  position: relative;
  padding-top: 10em;
  padding-bottom: 10em;
  background: url(../img/showprize.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
  h3 {
    font-size: 2em;
    text-transform: uppercase;
    margin-top: 0;
    text-align: center;
    color: #FFF;
  }
  .premiDescr {
    position: absolute;
    color: #FFF;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    h3 {
      font-size: 2em;
      text-transform: uppercase;
      margin-top: 0;
    }
  }
}

.openPrize {
  border-bottom: solid 1px #dad9d9;
}

.openPremi {
  text-align: center;
  padding: 20px;
  position: relative;
  top: 1px;
  span {
    border-radius: 50%;
    border: solid 1px #fd2e3a;
    background: #fd2e3a;
    font-size: 35px;
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin: auto;
    transition: .5s ease;
    color: #FFF;
    cursor: pointer;
    i {
      position: relative;
      transition: .5s ease;
      top: 0;
    }
    &:hover {
      transition: .5s ease;
      background: #e30613;
      i {
        top: 5px;
        transition: .5s ease;
      }
    }
  }
}

#PlayVideos {
    background: url(/wp-content/themes/seabagtemplate/img/video-play.png), url(https://img.youtube.com/vi/kUwBjT7Bu8s/maxresdefault.jpg);
    width: 100%;
    height: 100%;
    background-size: auto, cover;
    background-position: center center;
    background-repeat: no-repeat;
}


@media screen and (min-width: 1680px) {
  #seabagInfo a {
    height: 600px;
  }
}

@media screen and (min-width: 2000px) {
  .premi {
    padding-top: 20em;
    padding-bottom: 20em;
  }
}

.statcounter {
  display: none;
}

#miniLogo {
    background-image: url('../img/seabag-minilogo.png');
    background-position: center center;
    background-size: cover;
    margin-bottom: 20px;
}
